body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bounce{
    color:white;
    font-size:4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 250px;
}
/*For Animation*/
.bouncing{
    animation : bouncinganimation
    800ms
    alternate
    ease-in-out;
}

/*Frames*/
@keyframes bouncinganimation {
    0%{
        transform: scaleX(1);
    }
    45%{
        transform: scaleX(1.1) scaleY(.8);
    }
    60%{
        transform: scaleX(.8) scaleY(1);
    }
    70%{
        transform: scaleX(1.1) scaleY(.8);
    }
    80%{
        transform: scaleX(1.05) scaleY(.9);
    }
    100%{
        transform: scaleX(1) scaleY(1);
    }
}